<section>
  <div>
    <h1 class="title">Bounty Hunter</h1>

    <h2 class="subtitle">The purpose of the application: to raise the level of the fight against corruption with the help of citizens.</h2>


    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="https://rus.azattyq-ruhy.kz/cache/imagine/main_page_full/uploads/news/2020/07/24/5f1a59ff93e2b278401437.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://rus.azattyq-ruhy.kz/cache/imagine/main_page_full/uploads/news/2019/10/24/5db168c12ee50662733078.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://www.volgatech.net/we-are-against-corruption/%D0%BA%D0%BE%D1%80%D1%80%D1%83%D0%BF%D1%86%D0%B8%D1%8F_2.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <p>
      For a user to leave a request, he needs to log in to the system. All his personal data will be hidden from
      other users. In the system, the user will act under a pseudonym. For authorization, the user must fill in
      the fields:
    </p>
    <ul>
      <li>Name</li>
      <li>Surname</li>
      <li>Сontact phone number</li>
      <li>e-mail</li>
      <li>IIN</li>
    </ul>

    <div class="description row">
      <img class="img col-md-6 col-sm-6 col-xs-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsizUFb2ju5U6ALg4p9jIzqpCXpzZH3-5vHg&usqp=CAU">
      <div  class="col-md-4 col-sm-4 col-xs-6">

        <p class="description_title ">
          The essence of the application: Citizens anonymously leave a statement about the fact of corruption
          (bribery, embezzlement of public funds, etc.). This application contains fields about / for:
        </p>
        <ul class="">
          <li>institution / company in which the fact of corruption occurred,</li>
          <li>the person or persons involved in this act of corruption,</li>
          <li>a description of this corruption action,</li>
          <li>files proving this corruption action (video, audio, photo, etc.).</li>
        </ul>
      </div>
    </div>
    <p>
      After sending the application, it is checked. In case of accumulation of a certain number of applications,
      a check is sent to this organization / company.
    </p>
    <p>
      This project will contain pages:
    </p>
    <p>
      1) The main page in which news, information about the situation in the Country, city, region,
      etc. will be displayed. This page will be able to display information on the selected region.
    </p>
    <p>
      2) Registration / authorization page.
    </p>
    <ul>
      <li>Name</li>
      <li>Surname</li>
      <li>Password</li>
      <li>Pseudonym (If this field is not filled in, the system will issue itself)</li>
      <li>Сontact phone number</li>
      <li>e-mail</li>
      <li>IIN</li>
    </ul>
    <p>
      The authorization page will have fields:
    </p>
    <ul>
      <li>e-mai</li>
      <li>Password</li>
    </ul>
    <p>
      3) Page for filling out a statement of the fact of corruption.
    </p>
    <p>
      This page will have fields
    </p>
    <ul>
      <li>institution / company in which the fact of corruption occurred</li>
      <li>the person or persons involved in this act of corruption</li>
      <li>a description of this corruption action</li>
      <li>files proving this corruption action (video, audio, photo, etc.)</li>

    </ul>
    <p>
      4) Successful application submission page
    </p>
  </div>
</section>
